html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



body {
  margin: 0;
}

.pushmenu { /*this is the mobile PUSH-MENU (slide-out menu) nav*/
  background: #3c3933; /* PUSH-MENU Menu BG */
  font-family: Arial, Helvetica, sans-serif;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position:fixed;
  text-align: center;
}

.pushmenu a:first-of-type { /* PUSH-MENU, HOME */
  color: gold;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 20px;
  margin: 0;
  height: 16px;
}

.pushmenu a {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-top: 1px solid #56544e;
  border-bottom: 1px solid #312e2a;
  padding: 14px;
}

.pushmenu a:hover {
  background:#cc0003; /* BOLD RED! */
}

.pushmenu a:active {
  background: green;
  color: #fff;
}



/* ==== CPU LEFT VERSIONS ====*/
.no-csstransforms3d .pushmenu-left { /* PUSH-MENU menu position (default/hidden to the left of BODY) */
  left: -240px;
}

.no-csstransforms3d .pushmenu-open-toggle {
  left: 0;
}

BODY.no-csstransforms3d { /* PUSH-MENU menu, modify BODY */
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.no-csstransforms3d .pushmenu-push-toright {
  left: 240px;
}

/*Transition*/
.no-csstransforms3d .pushmenu, .no-csstransforms3d .pushmenu-push {
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease-in;
}

.no-csstransforms3d {
  display:block;
  background-color: lightgreen;
  color:blue;
}




/* ==== GPU VERSIONS ====*/
.csstransforms3d .pushmenu-left { /* PUSH-MENU menu position (default/hidden to the left of BODY) */
  -webkit-transform: translate3d(-240px, 0, 0);
  transform: translate3d(-240px, 0, 0);
  left: 0;
}

.csstransforms3d .pushmenu-open-toggle { /* WTF?  PUSH-MENU menu, VISIBLE/OPEN */
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
/*  left: 0; */
}

BODY.csstransforms3d { /* PUSH-MENU menu, modify BODY */
  overflow-x: hidden;
  position: relative;
  transform: translate3d(0px, 0, 0);
  /* left: 0; */
}

.csstransforms3d .pushmenu-push-toright {
  transform: translate3d(240px, 0, 0);
/* left: 240px; */
}



/*Transition*/
.csstransforms3d .pushmenu, .csstransforms3d .pushmenu-push {
  -webkit-transition: all 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
}







/*nav-list.active {
  background-position: -33px top;
}*/

.content {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

.desktopHeaderDiv {
    background: orange;
    cursor: pointer;
    height: 150px;
    width: 100%;
}

@media screen and (max-width:750px) { /* PHONE, IN PORTRAIT and LANDSCAPE */
  .desktopHeaderDiv { display: none; }

  .nav_hamburger {
  /* ANCHOR THIS BUTTON TO TOP??? */
    background: blue url('hamburger.png') no-repeat left top;
    cursor: pointer;
    height: 27px;
    width: 33px;
    text-indent: -99999em;
  }


  .buttonset { /* PUSH-MENU STATIC HEADER */
    /* background: #00A287; Green/Blue header */
    background: gray;
    background-size: cover;
    height: 16px;
    padding: 10px 20px 20px 10px;
    width: 100%;
    padding-bottom: 25%;
  }
}





